.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  background-color: #f5f5f5;
}

.list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 800px;
}

.listItem {
  margin-bottom: 10px;
}

.movieCard {
  background-color: #e8f4ea; /* Light green */
  color: #333;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.movieCard:hover {
  transform: scale(1.05);
}

.title {
  font-size: 1.3em;
  margin: 0 0 5px 0;
}

.rating,
.boxOffice {
  font-size: 1em;
  margin: 0 0 5px 0;
}

.button {
  background-color: #1c1c1c;
  color: white;
  border: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  align-self: flex-start;
  margin-top: 8px;
}
